{% extends 'base.html'%}
{% load static %}

{% block content%}


<!-- slider -->




<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>  
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'image/img1.jpg' %}" class="d-block w-100 " alt="..." height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/img1.jpg' %}" class="d-block w-100 " alt="..."height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/img1.jpg' %}" class="d-block w-100" alt="..."height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/img1.jpg' %}" class="d-block w-100" alt="..."height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h5>Fourth slide label</h5>
        <p>Some representative placeholder content for the Fourth slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- card  -->



<div class="row">
  {% for i in card %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card mt-3 mx-2 shadow" style="width: 18rem;">
      <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.title }}"width="300" height="300">
      <div class="card-body">
        <h5 class="card-title">{{ i.title }}</h5>
        <p class="card-text">{{ i.description }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.534124980407!2d91.79252597406149!3d22.63386583072448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37532ae07f10a939%3A0x493dd55527d8f9d1!2z4Kao4Ka-4Kac4Ka_4Kaw4Ka54Ka-4KafIOCmrOCnnCDgpq7gpr7gpqbgp43gprDgpr7gprjgpr4!5e0!3m2!1sbn!2sbd!4v1722070380847!5m2!1sbn!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>







    {% endblock content%}
